@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 560px;
  height: 560px;
  padding-top: 5rem;
  margin: auto;
}

.form::before {
  content: "";
  width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

.form {
  background-color: #171616;
  opacity: 0.8;
  position: relative;
  max-width: 400px;
  margin: 0 auto 100px;
  border-radius: 4vh;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(245, 240, 240, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 100;
  background: #f2f2f2;
  border-radius: 20vh;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  font-family: "Lucida Console", "Courier New", monospace;
  text-transform: uppercase;
  outline: 0;
  background: #df0000ff;
  border-radius: 20vh;
  width: 30%;
  border: 0;
  padding: 18px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(173, 0, 0);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 18px;
}
.form .message a {
  color: #df0000ff;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
 
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  /* fallback for old browsers */

  background: -webkit-linear-gradient(right, #000000, #000000);
  background: -moz-linear-gradient(right, #000000, #000000);
  background: -o-linear-gradient(right, #000000, #000000);
  background: linear-gradient(to left, #000000, #000000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 0rem;
  padding-right: 15rem;
  object-fit: cover;
  width: 35px;
  max-height: 100%;
}
.logo img {
  height: 300px;
}
body {
  background-color: #000000;
  background-image: url(/bag.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
